certifi==2018.11.29
chardet==3.0.4
citeproc-py==0.4.0
Django==2.1.7
gunicorn==19.9.0
idna==2.7
lxml==4.2.5
pbr==5.1.0
pkg-resources==0.0.0
pytz==2018.6
requests==2.20.0
six==1.11.0
stevedore==1.30.0
urllib3==1.24
virtualenv==16.0.0
virtualenv-clone==0.4.0
virtualenvwrapper==4.8.2
