{% extends 'base.html' %}
{% block content %}

<div class="section">
    <h3>Mismatch</h3>
    The citation could be resolved to data stored at:
    </br>
        <a href="{{ dap_url }}">{{ dap_url }}</a>.
    </br>
    However, the data appears to have changed since the creation of the citation.
</div>




<div class="section">
    <div class="card blue darken-1">
        <div class="card-content white-text">
            <span class="card-title">Hash stored in the citation:</span>
            <div class="card-content ">
                <code>
                    {{ hash_local }}
                </code>
            </div>
        </div>
    </div>
    <div class="card blue darken-1">
        <div class="card-content white-text">
            <span class="card-title">Hash of the data source:</span>
            <div class="card-content">
                <code>
                    {{ hash_remote }}
                </code>
            </div>
        </div>
    </div>
</div>



<div class="section">
    <ol>
        <li>
            You may choose to access the original citation <a href="{% url 'citations:details' %}{{ pk }}">here</a>
        </li>
        <li>
            Access the updated dataset <a href="{{ dap_url }}">here</a>
        </li>
        <li>
            Store a new citation for the updated dataset
            <a href="{% url 'citations:store' %}?dap_url={{ dap_url }}">here</a>
        </li>
    </ol>


</div>





{% endblock %}