{% extends 'base.html' %}
{% block content %}

<div class="section">
    <h3> User Signup </h3>

    <form method="post" action="{% url 'accounts:sign_up' %}" id="signup_form">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                <label for="user">User Name</label>
                <input id="user" type="text" name="user" />
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <label for="user">Password</label>
                <input type="password" name="password"/>
            </div>
        </div>

        <div class="row">
            <button onclick="document.getElementById('signup_form').submit()"
                    class="waves-effect waves-light blue lighten-1 btn-small">
                Sign Up
            </button>
    </form>
</div>

<div class="section">

    {% if status%}
    Created user
    {% elif error %}
    {{error}}
    {% endif %}
</div>



{% endblock %}